<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- 
    <add name="NSCOperationalPlan.Properties.Settings.nsc_operation_planConnectionString"
      connectionString="server=nscutil;user id=opuser;database=nsc_operation_plan_17_to_21"
      providerName="MySql.Data.MySqlClient" />
    <add name="NSCOperationalPlan.Properties.Settings.nsc_operation_planConnectionString1"
      connectionString="server=nscutil;user id=opuser;database=nsc_operation_plan_17_to_21;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="NSCOperationalPlan.Properties.Settings.nsc_operation_planConnectionString2"
      connectionString="server=NSCUTIL;user id=opuser;database=nsc_operation_plan_17_to_21"
      providerName="MySql.Data.MySqlClient" />
      -->
    <add name="NSCOperationalPlan.Properties.Settings.nsc_operation_plan_17_to_21ConnectionString"
      connectionString="server=nscutil;user id=sudinthap; password=NSCv90cisc0; persistsecurityinfo=True;database=nsc_operation_plan_17_to_21"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="dbname" value="OperationPlan" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--
  <connectionStrings>
    <add name="MYSQL" connectionString="SERVER = nscutil; DATABASE = nsc_operation_plan_17_to_21; UID = sudinthap; PASSWORD = NSCv90cisc0;" providerName="MySql.Data.MySqlClient" />
    <add name="NSCOperationalPlan.Properties.Settings.nsc_operation_planConnectionString" connectionString="server=nscutil;user id=sudinthap;database=nsc_operation_plan_17_to_21" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  -->
  <!--
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
   
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>